// Place all the styles related to the Api::Pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokedex {
  display: flex;
  background-color: blue;
  width: 100%;
}

// .pokemon-detail {
//   display: flex;
//   flex-direction: row;
// }
//
// .sidebar {
//   display: flex;
//   flex-direction: column;
//
//   width: 25%;
// }
